<!DOCTYPE html>
<html lang="en">
   <head>
    {{>headerLinks}}
</head>
    <body>
       
        <!-- tsParticles container -->
        <div id="tsparticles">
        </div>
        <section class="text ">
            <br>
            <br>
            <br>

          <h1>404</h1>
          <h2>Maybe you're lost or you are an imposter👻</h2>
          <div class="main_header_left bt">
          <a href="/" ><button>Go back</button></a>
          </div>
        </section>
        <script src="js/404.js"></script>
    </body>
</html>
